@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;900&display=swap');

:root {
  --blue-text-color: #67cfff;
}

* {
  background-color: transparent;
  text-align: center;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
  color: white;
}
  
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#background-wrapper {
  /* background-image: url("../images/DRX.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: background-image 1s ease-in-out; 
}


#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.module {
  position: relative;
  margin: 15px 0;
  padding: 25px 0;
  background-color: rgba(0, 0, 0, 0.90);
  width: 700px; 
  border-radius: 10px;
}

h1 {
  margin: 10px 0 10px 0;
  font-size: 35px;
  font-weight: 400;
}

h2 {
  margin: 0 0 40px 0;
  font-size: 25px;
  font-weight: 400;
}

input {
  font-size: 25px;
  color: white;
  width: 80%;
  padding: 12px 20px;
  margin: 6px 0 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#submit {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 6px;
  padding: 13px 29px;
  margin: 6px 0 10px 0;
  border: 1px solid #222222;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  border-color: #ffffff;
  color: #ffffff;
}

#submit:hover {
  border-color: var(--blue-text-color);
  color: var(--blue-text-color);
}

#result {
  margin: 10px 0 10px 0;;
  width: 80%;
  display: inline-block;
  box-sizing: border-box;
}

#result-name {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 8px;
  color: var(--blue-text-color);
}

#result-projection {
  font-size: 28px;
}

#error-msg {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 8px;
  color: red;
}



.lds-ellipsis {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}